@using MyFrame.RBAC.ViewModel
@model RoleViewModel
<link href="~/libs/plugins/iCheck/square/blue.css" rel="stylesheet" />
@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.Id)
<div id="form-add-role">
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.RoleName, new { @class = "control-label pull-right" })
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.RoleName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.RoleName)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.SortOrder, new { @class = "control-label pull-right" })
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.SortOrder, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SortOrder)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.Enabled, new { @class = "control-label pull-right" })
        </div>
        <div class="checkbox icheck col-sm-8">
            @Html.CheckBoxFor(m => m.Enabled, new { @class = "myCheck" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.IsSystem, new { @class = "control-label pull-right" })
        </div>
        <div class="checkbox icheck col-sm-8">
            @Html.CheckBoxFor(m => m.IsSystem, new { @class = "myCheck" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.Remark, new { @class = "control-label pull-right" })
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.Remark, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Remark)
        </div>
    </div>
</div>
<script>
    $(function () {
        gFunc.setCheckBoxStyle('input.myCheck');
    });
</script>