@using StackExchange.Profiling
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RBAC</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="~/libs/plugins/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/libs/plugins/font-awesome/css/font-awesome.min.css">
    <!--checkbox插件-->
    <link href="~/libs/plugins/iCheck/square/blue.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/libs/plugins/ionicons/ionicons.min.css">
    <!--通知插件-->
    <link href="~/libs/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <!--bootstraptable-->
    <link href="~/libs/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/libs/AdminLTE/css/AdminLTE.min.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="~/libs/AdminLTE/css/skins/_all-skins.min.css" rel="stylesheet" />

    <link href="~/libs/rbac/index.css" rel="stylesheet" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!--header-->
        @Html.Partial("_MainHeader")
        <!-- 菜单. contains the logo and sidebar -->
        @Html.Partial("_MenuSideBar")
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section id="main-content" class="content">
                @RenderBody()
                <div class="nav-tabs-custom" id="nav-main-content">
                    <ul class="nav nav-tabs" id="tab_header_container_main">
                        <li class="active" id="tab_page_header_home" data-closeable="false">
                            <a href="#tab_page_home" data-toggle="tab">主页</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="tab_content_container_main">
                        <div class="tab-pane active tab_page_content" id="tab_page_home">
                            主页
                        </div>
                    </div>
                    <div id="context-menu-tab-home">
                        <ul class="dropdown-menu" role="menu">
                            <li data-tag="close-this"><a tabindex="-1">关闭当前选项卡</a></li>
                            <li data-tag="close-prev"><a tabindex="-1">关闭左侧选项卡</a></li>
                            <li data-tag="close-next"><a tabindex="-1">关闭右侧选项卡</a></li>
                            <li class="divider"></li>
                            <li data-tag="close-other"><a tabindex="-1">关闭其他选项卡</a></li>
                            <li data-tag="close-all"><a tabindex="-1">关闭所有选项卡</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!--页脚-->
        @Html.Partial("_MainFooter")
        <!-- Control Sidebar -->
        @Html.Partial("_ControlSideBar")
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        @Html.Partial("_Modal")
        @Html.Partial("_HelpModal")
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 2.2.0 -->
    <script src="~/libs/plugins/jQuery/jQuery-2.2.0.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="~/libs/plugins/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="~/libs/plugins/iCheck/icheck.min.js"></script>
    <script src="~/libs/plugins/validate/jquery.validate.min.js"></script>
    <script src="~/libs/plugins/validate/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/libs/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="~/libs/plugins/fastclick/fastclick.min.js"></script>

    <!--通知插件-->
    <script src="~/libs/plugins/toastr/toastr.min.js"></script>

    <!--bootstraptable-->
    <script src="~/libs/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/libs/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>

    <!--bootstrap-contextmenu-->
    <script src="~/libs/plugins/bootstrap-contextmenu/bootstrap-contextmenu.js"></script>

    <!--bootstrap-treeview-->
    <script src="~/libs/plugins/bootstrap-treeview/bootstrap-treeview.js"></script>
    <!-- AdminLTE App -->
    <script src="~/libs/AdminLTE/js/app.min.js"></script>

    <script src="~/libs/rbac/base.js"></script>
    <script src="~/libs/rbac/index.js"></script>
    <script src="~/libs/rbac/modalForm.js"></script>
    <script src="~/libs/rbac/modalFormHelp.js"></script>
    <script src="~/libs/rbac/WinMsg.js"></script>
    <script src="~/libs/rbac/treeHelper.js"></script>
    <script src="~/libs/rbac/tabHelper.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="~/libs/misc/respond.min.js"></script>
    <script src="~/libs/misc/html5shiv.min.js"></script>
    <![endif]-->

    <script>
        $(function () {
            toastr.options = {
                positionClass: "toast-bottom-right",
                showDuration: 300,
                timeOut: 2000,//没有交互时，提示框显示的时间
                showMethod: "fadeIn",
                closeButton: true,
                preventDuplicates: true
            };
            index.init({
                urlGetAccount: "@Url.Action("GetCurrentAccountInfo", "Account")"
            });
        });
    </script>

    @MiniProfiler.RenderIncludes()
</body>
</html>
