@using MyFrame.RBAC.ViewModel
@model OperationViewModel
<link href="~/libs/plugins/iCheck/square/blue.css" rel="stylesheet" />
<div id="form-add-opt">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.OptCode, new { @class = "control-label pull-right" })
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.OptCode, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.OptCode)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.OptName, new { @class = "control-label pull-right" })
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.OptName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.OptName)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.Tag, new { @class = "control-label pull-right" })
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.Tag, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Tag)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.ClickFunc, new { @class = "control-label pull-right" })
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.ClickFunc, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ClickFunc)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.SubmitUrl, new { @class = "control-label pull-right" })
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.SubmitUrl, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SubmitUrl)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.Icon, new { @class = "control-label pull-right" })
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.Icon, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Icon)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.CssClass, new { @class = "control-label pull-right" })
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.CssClass, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CssClass)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.CssStyle, new { @class = "control-label pull-right" })
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.CssStyle, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CssStyle)
        </div>
    </div>
    <div class="form-group">
        @Html.HiddenFor(m => m.ModuleId)
        <div class="col-sm-3">
            @Html.LabelFor(m => m.ModuleName, new { @class = "control-label pull-right" })
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.ModuleName, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.Controller, new { @class = "control-label pull-right" })
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.Controller, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Controller)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.SortOrder, new { @class = "control-label pull-right" })
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.SortOrder, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SortOrder)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.Enabled, new { @class = "control-label pull-right" })
        </div>
        <div class="checkbox icheck col-sm-8">
            @Html.CheckBoxFor(m => m.Enabled, new { @class = "myCheck" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.Remark, new { @class = "control-label pull-right" })
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.Remark, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Remark)
        </div>
    </div>
</div>
<script>
    $(function () {
        gFunc.setCheckBoxStyle('input.myCheck');
    });
</script>